.avatar {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }

    span {
        font-size: 14px;
    }
}
